.diferentes-noticias {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
 }
 .noticia{
    background-color:mistyrose;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad1 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad2 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad3 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad4 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad5 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad6 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad7 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad8 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 .curiosidad9 {
  background-color:lavenderblush;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }


.grid {
display: grid;
gap: 20px;
grid-template-columns: 900px; 
grid-template-rows: 500px 500px 500px 100px;
grid-template-areas:
"h2"
"Curiosidades" 
"noticia1" 
"noticia2" 
"noticia3"
"Footer";
}

.h2{
  grid-area: Curiosidades;
    background-color:rgb(245, 213, 224);
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
}
.Curiosidades {
  grid-area: Curiosidades;
    background-color:rgb(245, 213, 224);
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  
}

.noticia1{
    grid-area: noticia1;
    background-color:mistyrose;
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.noticia2{
    grid-area: noticia2;
    background-color:rgb(255, 217, 212);
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.noticia3{
    grid-area: noticia3;
    background-color:rgb(247, 201, 195);
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    margin: 1%;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.Footer{
    grid-area: Footer;
    background-color:rgb(247, 201, 195);
    border: 1px solid #ddd;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top:20px; 
}

@media screen and (min-width: 768px;) {
    .grid-container {
       grid-template-columns: 200px auto; 
        grid-template-rows: 100px 50px auto 100px;
      grid-template-areas:
        "h2 h2"
        "Curiosidades Curiosidades"
        "noticia1 noticia1"
        "noticia3 noticia2"
        "Footer Footer";
  }
}

@media screen and (min-width: 992px;) {
    .grid-container{
      grid-template-columns: 200px auto 200px;
      grid-template-rows: 100px auto 100px;
      grid-template-areas:
        "noticia1 noticia1 noticia1"
        "noticia2 Curiosidades noticia3"
        "Footer Footer Footer"
    }
}
